@model SchoolManagementSystem.Response.ClassSubjectResponse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Class @Model.ClassName Subject Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subjects)
        </dt>

        @foreach (var subject in Model.Subjects)
        {
            <dd>
                @subject
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClassSectionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
