@model IEnumerable<SchoolManagementSystem.ViewModels.ClassSubjectVM>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Class Subject</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Class Title
                        </th>
                        <th>
                            Subjects
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @string.Concat("CS#", Html.DisplayFor(modelItem => item.ClassSectionID))
                            </td>
                            <td>
                               Class @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                <ul style="list-style: none!important; padding: 0 !important;">
                                    @foreach (var subject in item.Subjects)
                                    {
                                        <li style="color: #4e73df !important;">@subject</li>
                                    }
                                </ul>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ClassSectionID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = item.ClassSectionID }, new { @class = "btn btn-info" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>